
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';

/* GENERAL STYLE */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #595959;
	color: #FEFEFD;
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4 {
	font-family: 'Roboto', sans-serif;
}
